<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETO-TESTE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>PROJETO TESTE - SQUAD 02</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat fugiat laudantium ipsum assumenda numquam modi, id distinctio quo veniam dicta quisquam corporis temporibus ut sed labore, hic illo quasi! Itaque?</p>
</body>

</html>